*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    background: black;
}
.buttons{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    padding-block: 1em;
}
a{
    margin: 0 auto;
}
button{
    width: 300px;
    padding: 15px 20px;
    background: rgb(60, 255, 0);
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}
a + a {
    margin-top: 1em;
}