@font-face {
  font-family: myFont;
  src: url(./Assets/font/Gil.ttf.ttf);
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: myFont;
  /* line-height: 1.6; */
}
img {
  width: 100%;
}
span {
  color: #005ae2;
}

.hero {
  background: rgba(255, 255, 255, 1);
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

.nav_wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  flex-wrap: wrap;
}
.navigation {
  max-width: 504px;
  font-size: 14px;
}
.list_item_one {
  color: #005ae2;
}
.list{
  transition: 0.7s ease;
}
.list :hover{
  color: #005ae2;
}
.hamburger{
  display: none;
  cursor: pointer;
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}
.nav_select {
  width: 100%;
  color: #222222;
  border: none;
  font-size: 14px;
}
.list {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}
.nav_buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}
.logIn {
  color: #005ae2;
}
.hero_text {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 80%;
  margin: 0px auto;
  padding: 2em;
  margin-top: 4rem;
  position: relative;
}
.hero_text p {
  font-size: 14px;
  width: 80%;
}
.per{
    font-size: 12px;
}
.vector {
  width: 20%;
  position: absolute;
  top: 170px;
  right: 350px;
}
.hero_text span {
  color: #005ae2;
}
.hero_text h1 {
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
}
.hero_text p {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  width: 60%;
  align-self: center;
}
.hero_button {
  display: flex;
  justify-content: space-evenly;
  width: 35%;
  align-self: center;
}

.but_one {
  padding: 0.7em 1.5em;
  background: #005ae2;
  border: none;
  border-radius: 100px;
  color: white;
}
.but_two {
  padding: 0.8em 2em;
  background: #005ae2;
  border: none;
  border-radius: 100px;
  color: white;
  text-align: center;
}
.hero_images {
  width: 100%;
  margin: 0px auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.image_one {
  width: 70%;
  padding: 1em;
  margin: 0px auto;
  align-content: center;
}
.image_two {
  max-width: 100%;
  margin-inline: auto;
  align-self: center;
}

/* Main area */

.container {
  display: flex;
  margin: 0px auto;
  padding: 2em;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  background: rgba(249, 251, 253, 1);
}
.container_header {
  width: max-content;
  font-size: 22px;
}
.right_side {
  max-width: 709px;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-self: center;
}
.stat {
  width: 150px;
}
.stat h2 {
  font-size: 24px;
  line-height: 1.4;
}
.container_stat {
  font-size: 14px;
  font-weight: thin;
}
.second_container {
  display: flex;
  margin: 2em auto;
  padding: 2em;
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
  font-family: myFont;
  gap: 20px;
  flex-wrap: wrap;
}
.why {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  line-height: 1.5;
  flex-wrap: wrap;
}
.gradient{
    width: 270px;
    padding: 0.2em;
    height: 40px;
    border-left: 7px solid;
    border-image: linear-gradient(to bottom,rgba(17, 34, 50, 1), rgba(77, 107, 136, 0)) 1;
}
.gradient h2{
    width: fit-content;
    justify-self: center;
    align-self: center;
}
.sC_p{
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
}


.why_right {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
}
.why_right h2 {
  font-size: 20px;
}
.top,
.bottom {
  display: flex;
  flex-wrap: wrap;
}
.top{
    margin-bottom: 2em;
}
.reasons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 40%;
  margin-inline: auto;
  flex-direction: column;
  line-height: 1.5;
}
.reasons p{
    font-size: 14px;
}
.img {
  width: 46px;
}
.card_section {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  font-family: myFont;
  flex-wrap: wrap;
  width: 90%;
}
.subheader {
  margin-inline: auto;
  padding: 2em;
  width: 40%;
  text-align: center;
}
.subheader h1 {
  border-left: 4px solid ;
  height: auto;
  border-image: linear-gradient(to bottom,rgba(17, 34, 50, 1), rgba(77, 107, 136, 0)) 1;
  width: max-content;
  padding-left: 10px;
  margin-inline: auto;
  margin-bottom: 1em;
}
.subheader p{
    font-size: 14px;
}
.cards {
  display: flex;
  margin: 0px auto;
  padding: 2em;
  width: 90%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cards h2 {
  font-size: 24px;
}
.side_card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 280px;
  border: 1px solid  rgba(0, 90, 226, 1);
  z-index: -1;
  display: flex;
  flex-direction: column;
  padding: 0.9em 2em;
  gap: 10px;
  height: 400px;
}
li{
    font-size: 12px;
}
.card_subHeader{
    margin-block: 1em;
}
.card_subHeader p{
    margin-top: 0.5em;
    font-weight: 500;
}
.side_card h2 {
  font-weight: bold;
  font-size: 24px;
}

.side_card ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}
.custom-check-list li {
  list-style-type: none;
  list-style-position: inside;
}

.custom-check-list li::marker {
  content: "✓";
  color: green;
  font-weight: bold;

}
.main_card {
  display: flex;
  flex-direction: column;
  background: #1e3448;
  color: white;
  gap: 10px;
  width: 280px;
  z-index: 1;
  padding: 1em 2em;
  height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  align-content: center;
  transform: scale(1.1);
 
}
.main_card ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

.buttons {
  max-width: 576px;
  text-align: center;
  margin-inline: auto;
  padding: 2em;
}
.main_but {
  padding: 0.9em;
  border-color: #005ae2;
  color: #005ae2;
  border-radius: 100px;
  border: 2px solid #005ae2;
  width: 180px;
  background: white;
}
.sec_but {
    width: 180px;
  padding: 0.9em;
  background: #005ae2;
  color: white;
  border: none;
  border-radius: 100px;
  max-width: 200px;
}
.mini_form {
  width: 100%;
  background-color: #1e3448;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23243E55' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
  padding: 3em;
  align-items: center;
}
.form {
  max-width: 476px;
  background: white;
  padding: 2em;
  align-self: center;
  margin: 0px auto;
  border-radius: 12px;
}
input {
  width: 100%;
  color: #3284ff;
  padding: 0.8em;
  margin-top: 15px;
  border: 1px solid #3284ff;
  border-radius: 12px;
  background: white;
}
.dom {
  width: 100%;
  color: #3284ff;
  padding: 0.8em;
  margin-top: 15px;
  border: 1px solid #3284ff;
  border-radius: 12px;
  background: white;
}
.buttom_inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.okc {
  width: 45%;
}
.pkc {
  width: 45%;
}
.form button {
  padding: 0.9em;
  width: 100%;
  border-radius: 100px;
  background: #005ae2;
  color: white;
  border: none;
  margin-top: 20px;
}
.form p {
  color: #005ae2;
  line-height: 1.3;
  padding: 1.4em;
  font-size: 12px;
}
.faq-section {
  width: 100%;
  margin: 0px auto;
  text-align: center;
  padding: 2em;
  background-color: #ffffff;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='400' cy='400' r='54.2%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23FDFFFE'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='400' cy='400' r='98.7%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%2300FFFF'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='800'/%3E%3Cg fill-opacity='0.12'%3E%3Cpath fill='url(%23b)' d='M998.7 439.2c1.7-26.5 1.7-52.7 0.1-78.5L401 399.9c0 0 0-0.1 0-0.1l587.6-116.9c-5.1-25.9-11.9-51.2-20.3-75.8L400.9 399.7c0 0 0-0.1 0-0.1l537.3-265c-11.6-23.5-24.8-46.2-39.3-67.9L400.8 399.5c0 0 0-0.1-0.1-0.1l450.4-395c-17.3-19.7-35.8-38.2-55.5-55.5l-395 450.4c0 0-0.1 0-0.1-0.1L733.4-99c-21.7-14.5-44.4-27.6-68-39.3l-265 537.4c0 0-0.1 0-0.1 0l192.6-567.4c-24.6-8.3-49.9-15.1-75.8-20.2L400.2 399c0 0-0.1 0-0.1 0l39.2-597.7c-26.5-1.7-52.7-1.7-78.5-0.1L399.9 399c0 0-0.1 0-0.1 0L282.9-188.6c-25.9 5.1-51.2 11.9-75.8 20.3l192.6 567.4c0 0-0.1 0-0.1 0l-265-537.3c-23.5 11.6-46.2 24.8-67.9 39.3l332.8 498.1c0 0-0.1 0-0.1 0.1L4.4-51.1C-15.3-33.9-33.8-15.3-51.1 4.4l450.4 395c0 0 0 0.1-0.1 0.1L-99 66.6c-14.5 21.7-27.6 44.4-39.3 68l537.4 265c0 0 0 0.1 0 0.1l-567.4-192.6c-8.3 24.6-15.1 49.9-20.2 75.8L399 399.8c0 0 0 0.1 0 0.1l-597.7-39.2c-1.7 26.5-1.7 52.7-0.1 78.5L399 400.1c0 0 0 0.1 0 0.1l-587.6 116.9c5.1 25.9 11.9 51.2 20.3 75.8l567.4-192.6c0 0 0 0.1 0 0.1l-537.3 265c11.6 23.5 24.8 46.2 39.3 67.9l498.1-332.8c0 0 0 0.1 0.1 0.1l-450.4 395c17.3 19.7 35.8 38.2 55.5 55.5l395-450.4c0 0 0.1 0 0.1 0.1L66.6 899c21.7 14.5 44.4 27.6 68 39.3l265-537.4c0 0 0.1 0 0.1 0L207.1 968.3c24.6 8.3 49.9 15.1 75.8 20.2L399.8 401c0 0 0.1 0 0.1 0l-39.2 597.7c26.5 1.7 52.7 1.7 78.5 0.1L400.1 401c0 0 0.1 0 0.1 0l116.9 587.6c25.9-5.1 51.2-11.9 75.8-20.3L400.3 400.9c0 0 0.1 0 0.1 0l265 537.3c23.5-11.6 46.2-24.8 67.9-39.3L400.5 400.8c0 0 0.1 0 0.1-0.1l395 450.4c19.7-17.3 38.2-35.8 55.5-55.5l-450.4-395c0 0 0-0.1 0.1-0.1L899 733.4c14.5-21.7 27.6-44.4 39.3-68l-537.4-265c0 0 0-0.1 0-0.1l567.4 192.6c8.3-24.6 15.1-49.9 20.2-75.8L401 400.2c0 0 0-0.1 0-0.1L998.7 439.2z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
.faq_para{
    font-size: 12px;
}
.png {
  position: absolute;
  bottom: 0px;
  right: -300px;
}
details {
  padding: 0.9em;
  text-align: left;
  width: 100%;
  border-bottom: 1px solid rgb(218, 218, 218);
  line-height: 32px;
}
.detail_wrap {
  max-width: 700px;
  margin: 0px auto;
}
.last_header {
  width: 100%;
  margin: 0px auto;
  text-align: center;
  padding: 2em;
  background-color: #1e3448;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23243E55' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
}
.last_text {
  padding: 2em;
  margin-inline: auto;
  display: flex;
  color: white;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  align-items: center;
}
.last_text button {
  padding: 0.8em;
  width: 30%;
  border: none;
  border-radius: 100px;
  background: #005ae2;
  color: white;
  margin-top: 20px;
}
footer {
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  line-height: 1.5;
  padding: 2em;
  flex-wrap: wrap;
  width: 80%;
}
.logo_socials {
  width: 128px;
  margin-top: 40px;
}
img {
  width: 100%;
}
.links {
  width: 80%;
  display: flex;
  padding: 0.9em;
  flex-wrap: wrap;
  gap: 10px;
}
.links h3 {
  font-size: 16px;
  margin-bottom: 10px;
}
.col {
  padding: 0.8em;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 25%;
  flex-direction: column;
}


@media (max-width: 768px){
  .hamburger{
    display: block;
  }
  .hamburger .active .bar :nth-child(2){
    opacity:0;
  }
  .hamburger .active .bar :nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger .active .bar :nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .list{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    background: black;
  }
  .list_item{
    margin: 1em 0;
  }
  .list .active{
    left: 0;
  }
  .header{
    padding: 0;
    margin: 0 auto;
  }
  .nav_buttons{
    display: none;
  }
  .vector{
    display: none;
  }
  .hero_text{
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }
  .hero_text h1{
    width: 100%;
    font-size: 26px;
    text-align: center;
  }
  .hero_text p{
    width: 80%;
    font-size: 14px;
  }
  .hero_button{
    width: 90%;
    margin: 0 auto;
    display: flex;
  }
  .but_two{
    width: 50%;
    font-size: 12px;
  }
  .hero_button p{
    width: max-content;
  }
  .hero_images{
    display: none;
  }
  .container{
    margin: 0 auto;
    width: 90%;
    padding: 0px;
  }
  .container_header{
    font-size: 18px;
  }
  .stat h2{
    font-size: 18px;
  }
  .second_container{
    width: 90%;
    margin: 2em auto;
    padding: 0;
  }
  .why{
    width: 90%;
    margin: 0 auto;
  }
  .why_right{
    display: flex;
    width: 100%;
  }
  .card_section{
    width: 90%;
    padding: 0;
    margin: 4em auto;
  }
  .subheader{
    margin: 0 auto;
    width: 90%;
    padding: 0px;
  }
  .subheader h1{
    width: 100%;
    text-align: center;
  }
  .cards{
    display: flex;
    gap: 2em;
  }
  .buttons{
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .last_header button{
    width: 200px;
  }
  footer{
    width: 90%;
    padding: 0;
    margin: 0 auto;
  }
  .links{
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: space-between;
    width: 100%;
  }
}
